:root {
  --color-primary: #E3E2DA;
  --color-secondary: #7D7C78;

  --color-text: #3D3D3B;
  --color-border: #3D3D3B;

  --color-hover: #BDBCB5;
  /* --color-hover: #BDBCB5; */

  --color-success: #88c459;
  --color-error: #f5414f;
  --color-warning: #ffd137;
}
:root,
html,
body,
.html___2Gxku,
.body___1YN3- {
	/* box-sizing: border-box; */
	background: #eee;
	/* margin: 0; */
	/* padding: 0; */
}

.body___1YN3- {
	/* margin: 0.3em 0.3em 0; */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

a {
  color: var(--color-text);
  text-decoration: none; 
}
.sidenav___3-NMA {
  height: 100%;
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.secItem___39hft {
  padding: 0 1.5rem 1.5rem;
}

.active___2y2bx {
  background: rgb(33, 96, 151);
}

.navLinks___1Rvg2 li {
  display: inline-block;
  padding: 0 1em;
}
.main___2K2F0 {
  margin-left: 20vw;
}
.nav___37OKf {
  background-color: #111;
  width: 100%;
}

.clearfix___1x_2v::after {
  content: "";
  clear: both;
  display: table;
}

.navLinks___2dQc2 {
  float: right;
  margin: 8px 2vw 8px 0;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.navItem___F5z6u {
  padding-right: 20px;
}

.profileInfo___20EeE {
  display: flex;
  align-items: center;
}

.bilama___sGz_h {
  width: 30px;
  height: 30px;
  border-radius: 40%;
  background-color: #bbb;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
}

.picProfile___3UHgT {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-right: 10px;
}

.username___3DanP {
  font-family: Arial, Helvetica, sans-serif;
  color: #bbb;
}

.dropdown___Y7rOp {
  margin-left: 10px;
}

.dropbtn___1Ifdf {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #bbb;
  cursor: pointer;
}

.dropbtn___1Ifdf::after {
  content: "";
  display: none;
  border-bottom: 25px solid #f1f1f1;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  position: absolute;
  top: 50px;
  right: 2.15vw;
}

.dropbtn___1Ifdf.dropbtnActive___LUUYo::after {
  display: block;
}

.dropdownContent___3x-4g {
  display: none;
  position: absolute;
  top: 66px;
  right: 2vw;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent___3x-4g.displayCnt___1IGNz {
  display: block;
}

.dropdownContent___3x-4g a {
  display: block;
  color: black;
  padding: 12px 16px;
}

.dropdownContentItems___2IRRH {
  color: black;
  padding: 0.7em 1.5em;
  cursor: pointer;
  transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
}

.dropdownContentItems___2IRRH:hover {
  color: rgb(206, 206, 206);
  background-color: rgb(54, 54, 54);
}

.dropdownContentLine___eDtI9 {
  background-color: rgb(141, 141, 141);
  height: 1px;
  width: 100%;
}

.editProfile___76pBw {
  position: absolute;
  /* -------------------------------------------------------- */
  display: none;
  /* -------------------------------------------------------- */
  top: 5vmin;
  left: 27vw;
  right: 27vw;
  bottom: 5vmin;
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.displayEditProfile___38EET {
  display: block;
}
.editprofileNav___qgnmD {
  display: flex;
  align-items: center;
  background-color: white;
  left: 27vw;
  right: 27vw;
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.clearfix___wEoYb::after {
  content: "";
  clear: both;
  display: table;
}

.editprofileNav___qgnmD .firstItem___24d0t {
  flex: 0.5;
}

.closebtn___1QoG4 {
  margin: 2vh 1vw;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color .3s linear;
  -webkit-transition: background-color .3s linear;
  -moz-transition: background-color .3s linear;
  -ms-transition: background-color .3s linear;
  -o-transition: background-color .3s linear;
}

.closebtn___1QoG4:hover {
  background-color: rgba(17, 17, 17, 0.247);
}

.closeline___2b1n1 {
  position: relative;
  width: 20px;
  height: 2px;
  background: #111;
  transition: background-color .3s linear;
  -webkit-transition: background-color .3s linear;
  -moz-transition: background-color .3s linear;
  -ms-transition: background-color .3s linear;
  -o-transition: background-color .3s linear;
}

.closebtn___1QoG4:hover .closeline___2b1n1 {
  background-color: #eee;
}

.closeline___2b1n1:nth-child(1) {
  transform: rotate(-130deg);
  -webkit-transform: ;
  -moz-transform: ;
  -ms-transform: ;
  -o-transform: ;
}

.closeline___2b1n1:nth-child(2) {
  top: -2px;
  transform: rotate(130deg);
  -webkit-transform: rotate(130deg);
  -moz-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
  -o-transform: rotate(130deg);
}

.editprofileNav___qgnmD .secondItem___2DoQA {
  flex: 2.5;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  cursor: default;
}

.editprofileNav___qgnmD .thirdItem___z4r6L {
  flex: 3;
}

.editprofileNav___qgnmD .savebtn___2HeDG {
  float: right;
  margin-right: 2vw;
  background-color: #111;
  padding: 0.6em 1.5em;
  color: #eee;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
}

.editprofileNav___qgnmD .savebtn___2HeDG:hover {
  background-color: #555;
  color: #111;
}

.container___e5pKL {
  padding: 0 1vw;
}
.picProfile___6zzNf {
  display: block;
  position: relative;
  top: 3vmin;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.changePic___104t5 {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #999;
  background-color: rgba(136, 136, 136, 0.26);
  border-radius: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -220%);
  -webkit-transform: translate(-50%, -220%);
  -moz-transform: translate(-50%, -220%);
  -ms-transform: translate(-50%, -220%);
  -o-transform: translate(-50%, -220%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: background-color .3s linear;
  -webkit-transition: background-color .3s linear;
  -moz-transition: background-color .3s linear;
  -ms-transition: background-color .3s linear;
  -o-transition: background-color .3s linear;
}

.changePic___104t5:hover {
  background-color: rgba(136, 136, 136, 0.76);
}

.nameContainer___3FcBh {
  position: relative;
  background-color: #eee;
  top: 1vmin;
  padding: .5rem 0 0;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
}

.labelName___1MQZn {
  padding-left: .8rem;
}

.inputName___OuJKd {
  background-color: #eee;
  box-sizing: border-box;
  width: 100%;
  padding: .8rem .8rem;
  border: none;
  border-bottom: 2px solid #999;
  font-size: 1rem;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}

.inputName___OuJKd::-webkit-input-placeholder { /* Edge */
  color: #555;
  font-weight: 500;
  font-size: 1.1rem;
}

.inputName___OuJKd:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #555;
  font-weight: 500;
  font-size: 1.1rem;
}

.inputName___OuJKd::placeholder {
  color: #555;
  font-weight: 500;
  font-size: 1.1rem;
}

.inputName___OuJKd:focus {
  border-bottom: 2px solid #111;
}

@media screen and (max-width: 800px) {
  .editProfile___14xBy {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .editprofileNav___qgnmD {
    left: 0;
    right: 0;
  }
}
.container___1Vitw {
  margin: 3vmin 2vmax 0 2vmax;
}

.h1___Jtx3E {
  font-size: 2rem;
  margin-bottom: 5vmin;
  font-family: Arial, Helvetica, sans-serif;
}

.nav___2-IDg {
  border-bottom: 1px solid #999;
  padding-bottom: .7em;
}

.nav___2-IDg > .navItem___3rCV4 {
  margin-right: 2vmax;
  padding: .2em 0 .7em .1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #555;
  cursor: pointer;
}

.nav___2-IDg > .navItem___3rCV4.active___1r2pz {
  border-bottom: 3px solid #111;
  color: #111;
}

.dashboard___28Sg1 {
  margin: 8vh 4vw 0;
  border: 1px solid #999;
  height: 50vh;
  box-shadow: 1px 1px 3px 1px rgba(82, 82, 82, 0.226);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.container___3t56E {
  margin: 3vmax 0 0 3vmin
}

.titleContainer___3Jyuh {
  background-color: rgb(224, 224, 224);
  max-width: 50%;
  padding: .5rem 0 0;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  margin-bottom: 10vh;
}

.labelTitle___guz7g {
  display: block;
  padding-left: .8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #555;
}

.inputTitle___35eGf {
  background-color: rgb(224, 224, 224);
  box-sizing: border-box;
  width: 100%;
  padding: .5rem .1rem;
  border: none;
  border-bottom: 2px solid #999;
  font-size: 1rem;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}

.inputTitle___35eGf::-webkit-input-placeholder { /* Edge */
  color: #555;
  font-weight: 500;
  font-size: 1.1rem;
}

.inputTitle___35eGf:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #555;
  font-weight: 500;
  font-size: 1.1rem;
}

.inputTitle___35eGf::placeholder {
  color: #555;
  font-weight: 500;
  font-size: 1.1rem;
}

.inputTitle___35eGf:focus {
  border-bottom: 2px solid #111;
}

/*# sourceMappingURL=styles.chunk.css.map*/